body {
  margin: 0;
  padding: 0;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  max-width: 70rem;
}

.ingredients,
.instructions {
  padding: 2rem;

  background-color: white;
  width: 100%;
}

.ingredients li:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.nutrition {
  padding: 2rem;
  background-color: white;
  width: 100%;
}

.nutrition table {
  background-color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
