body {
  margin: 0;
  padding: 0;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 70rem;
}

.ingredients,
.instructions {
  width: 65%;
  margin: auto;
  padding: 2rem;
  
}

.ingredients li:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.nutrition {
  padding: 2rem;
  width: 100%;
}

 table {
  width: 65%;
  margin: auto;

}
