.main-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
    grid-template-areas: 
                        "left right";
    justify-content: end;
}
.main-container div {
    border: 1px solid;
}

.main-container__left {
    grid-area: left;
    background-color: rgb(231, 227, 222);
}

.main-container__right {
    grid-area: right;
    background-color: gainsboro;
}