@import url("./css/main-bottom.css");
@import url("./css/main-image.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
   display: grid;
  grid-template-columns: 20rem 1fr; 
  grid-template-areas: "left right"; 

}

.main-container__left {
  grid-area: left;
  position: fixed;
  margin-left: 3rem;
}

.main-container__right {
  grid-area: right;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 4rem;
  height: 4rem;
}
.header-font {
  font-family: "Sofia", sans-serif;
  animation: logo 3s infinite;
}
.navigation {
  height: 60vh;
}


@keyframes logo {
  from {
    background-color: yellow;
  }
  to {
    background-color: green;
    color: white;
  }
}
.menu li,
.ul li {
  padding: 0.3rem;
}
ul li:hover,
menu li:hover {
  color: #ffffff;
  background-color: rgb(12, 14, 16);
}

@media only screen and (max-width: 480px){
.main-container {
grid-template-columns: 1fr;
grid-template-areas:
"left"
"right";
}
.main-container__left{
position: static;
margin: auto;
}
.article-container,.meals-info,.ingredients,
.instructions, .nutrition{
width: 20rem;
}
}

@media only screen and (max-width: 768px){
.ingredients,
.instructions, .nutrition, .article-container{
padding: .2rem;
}

}
